.uk-navbar-container {
    background-color: #5e0c0c !important;
}

.role {
    font-style: italic;
    font-weight: lighter;
}

.form-error {
    font-size: x-large;
    color: firebrick;
}

.description {
    min-height: 8rem;
}

[class*="uk-align"] {
    display: block;
    margin-bottom: 0px;
}

.content-background {

    /* min-height: calc(100% - 80px); */
    background-image: '../documents/images/site/login.png';
    background-color: #F0F0F0;
}

body.login {
    background-image: url('../documents/images/site/login.png');
    -webkit-background-size: cover;
    background-size: cover;
}

.bandeau-admin {
    max-width: 2rem;
}

.uk-checkbox, .uk-radio {
    margin-left: 2rem;
}

.hide {
    display: none;
}

.checkboxy {
    list-style: none;
    float: left;
    margin: 0.4rem;
}

.uk-button-danger {
    background-color: rgb(173, 0, 32);
}

.uk-button-danger:focus, .uk-button-danger:hover {
    background-color: rgba(156, 49, 0, 0.459);
    color: #fff;
}

.uk-button-modify {
    background-color: rgb(0, 113, 87);
    color: #F0F0F0;
}

.uk-button-modify:focus, .uk-button-modify:hover {
    background-color: rgba(0, 113, 87, 0.719);
    color: #fff;
}

.uk-button-create {
    background-color: rgb(156, 49, 0);
    color: #F0F0F0;
}

.uk-button-create:focus, .uk-button-create:hover {
    background-color: rgba(156, 49, 0, 0.733);
    color: #fff;
}

.uk-button-detail {
    background-color: #217515;
    color: #F0F0F0;
}

.uk-button-detail:focus, .uk-button-detail:hover {
    background-color: #2075157a;
    color: #fff;
}

.uk-subnav-pill > .uk-active > a {
    background-color: #03727d;
    color: #fff;
}

.uk-subnav-pill > * > a:focus, .uk-subnav-pill > * > a:hover {
    background-color: #03737dfd;
    color: rgb(255, 255, 255);
}

.uk-card-address-after {
    background: #ecca6b;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.uk-card-address-before {
    background: #6bec92;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}