{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Détail d'un type
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Detail du type :
				</div>
				<div class="uk-card-body">
					<dl class="uk-description-list">
						<dt>Nom</dt>
						<dd>{{ sort.name }}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Liste des logements de ce type :
				</div>
				<div class="uk-card-body">
					<dl class="uk-description-list">
						<dt>Nom</dt>
						<dd>{{ sort.name }}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
