{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Tableau de bord
{% endblock %}

{% block body %}
	<div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-4@xl" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 400; repeat: true">
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<span class="statistics-text">Nombre de contrats en cours</span><br/>
				<span class="statistics-number">
					{{ contracts | length }}
					contrat(s)

				</span>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<span class="statistics-text">Nombre de locations</span><br/>
				<span class="statistics-number">
					{{ housings | length }}
					location(s)
				</span>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<span class="statistics-text">Cumul loyer HS sur l'année</span><br/>
				<span class="statistics-number">
					3000 €
				</span>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default uk-card-body">
				<span class="statistics-text">Cumul Charges sur l'année</span><br/>
				<span class="statistics-number">
					592 €

				</span>
			</div>
		</div>
	</div>
	<div uk-grid class="uk-child-width-1-1@s uk-child-width-1-2@l" uk-grid uk-scrollspy=" cls: uk-animation-fade; target: .uk-card; delay: 800; repeat: true">
		<div>
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Impôt foncier
				</div>
				<div class="uk-card-body">
					<canvas id="chart1"></canvas>
				</div>
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default">
				<div class="uk-card-header">
					Traffic Web
				</div>
				<div class="uk-card-body">
					<canvas id="chart2"></canvas>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
