{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Listes des comptes
{% endblock %}

{% block body %}
	<div uk-grid="" class="uk-child-width-1-1@s uk-child-width-1-1@l uk-grid uk-grid-stack">
		<div class="uk-first-column">
			<div class="uk-card uk-card-default uk-animation-fade">
				<div class="uk-card-header">
					Outil de recherche :
					
				</div>
				<div class="uk-card-body">
				


				</div>
			</div>
		</div>
	</div>
	<div class="uk-first-column uk-margin">
		{% include 'user/allUsers.html.twig' %}
	</div>

{% endblock %}
